<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
{% block head %}
  {{ super() }}


{% endblock %}

</head>
<body>


{% block navbar %}
    {{ super() }}
{% endblock %}
 
{% block mainbody %}

<div class="container center_div">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
	<h3> How it works (TF-IDF)</h3>
		
		<p><b>TF-IDF</b> stands for <i>Term Frequency - Inter Document Frequency</i>. It works by getting a count of each word across individual chapters dividing that by the count of that word across the whole document. For example the Harry Potter books usually start with Harry spending the summer with the Dursleys. Afterwards Harry head to Hogwarts and the Dursleys are no longer mentioned. In general the term <i>Dursley</i> could be considered an important term in Chapter 1. We can measure that important by using the <a href="http://www.tfidf.com/">TF-IDF</a> calculation. If we repeat the calculation for every term then we can make a chapter by chapter glossary by only returning the highest value terms.</p>
 
		<p>Unfortunately there are some problems that can happen during processing. If you've encountered a problem have a look through the <a href="/walkthrough.html">walk-through</a> section.</p>


   </div>
  </div>
</div>


{% endblock %}
</body>
</html>

