<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
{% block head %}
  {{ super() }}

{% endblock %}

</head>
<body>

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
 
{% block mainbody %}

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
	{% if glossary %}
	     <h3>Glossary:</h3>
	 	{% for chapter in glossary %}
		    <h4> Chapter: {{ loop.index }} </h4> 
		<p>
		    {% for word in chapter %}
			{{word}}
		    {% endfor %}
		</p>
		{% endfor %}
	{% endif %}



    </div>
  </div>
</div>


{% endblock %}

</body>
</html>

