<!DOCTYPE html>
<html lang="en">
<head>
  <title>What's the gloss?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

</style>


</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">What's the gloss?</a>

</nav>


 
<div class="container bg-1">
  <div class="row" style="height:200px;">
    <div class="col-sm-4 bg-inverse text-white" >
      <h3>How do I use it?</h3>
      <p class="text-light bg-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>What is TF-IDF?</h3>
      <p>Lorem  dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Why am I not getting any results?</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">

	<form method="post" enctype="multipart/form-data">
     <label for="chapter_numbers">Write down chapter starting pages</label>
	  <input type="text" name="chapter_numbers" pattern="[0-9 ]+" value="17 36..." size="50">


    <!--
      <label for="regex">Or a phrase to seperate chapters</label>
      <input type="text" id="regex" pattern="[a-zA-Z]+" value="e.g. This chapter contains">
	-->
     <!--
      <label for="num_of_terms">And how many terms per chapter?</label>
      <input type="text" name="num_of_terms" pattern="[0-9]+" value="10">
	-->


	  <input type="file" name="file" accept=".pdf" required>
	  <input type="submit" value="upload">
	</form>

    </div>
    </div>

    <div class="row">
    <div class="col-sm-6 col-md-offset-3">
     <h3>Glossary:</h3>

 {% for chapter in chapters %}
	    <h4> Chapter: {{ loop.index }} </h4> 
        <p>
	    {% for word in chapter %}
		{{word}}
	    {% endfor %}
        </p>
	{% endfor %}
	
    </div>
  </div>
  </div>
</div>



</body>
</html>

