<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
{% block head %}
  {{ super() }}


{% endblock %}

</head>
<body>


{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
          function loading(){
                document.getElementById("loadingObj").style.display = "block";
              }
  var sequenceElement = document.getElementById("sequence");

  var options = {
    // Place your Sequence options here to override defaults
    // See: https://sequencejs.com/documentation/#options
    keyNavigation: true,
    fadeStepWhenSkipped: false,
    reverseWhenNavigatingBackwards: true
  }

  // Launch Sequence on the element, and with the options we specified above
  var mySequence = sequence(sequenceElement, options);

       </script>

{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}
 
{% block mainbody %}


<div class="container center_div">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

	<form method="post" action="/glossary.html" enctype="multipart/form-data" class="center-block">
        <div class="form-group">

     <label for="chapter_numbers">Write down chapter starting pages</label> 
     <input type="text" class="form-control" name="chapter_numbers"> 
        </div>

        <div class="form-grpup">
      <label for="chapter_phrase">Or a phrase to seperate chapters</label>
      <input type="text" class="form-control" name="chapter_phrase"> 
        </div>

     <!--
      <label for="num_of_terms">And how many terms per chapter?</label>
      <input type="text" name="num_of_terms" pattern="[0-9]+" value="10">
	-->
	  <input type="file" name="file" accept=".pdf" required>
	  <button type="submit" value="upload" class="btn btn-primary" onclick="loading();">Submit </button>
    </div>
	</form>
   </div>
 </div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="loadingObj">
            <img class="img-responsive center-block" src="../static/loadingimage.gif" alt="Currently loading" align="center" height="200" width="200">

        </div>

    </div>
  </div>
</div>




</div>
{% endblock %}
</body>
</html>

