<!DOCTYPE html>
<html lang="en">
<head>
  <title>What's the gloss?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

</style>


</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">What's the gloss?</a>

</nav>


 
<div class="container bg-1">
  <div class="row"> 
    <div class="col-sm-4 bg-inverse text-white" >
      <h3>What is it and how do I use it?</h3>
      <p>Terminology can be a major barrier to learning a new subject. 
      Ideally students would have a glossary of terms before they start
      studying. This program helps to make that list by identifying 
      the most important words of each chapter.
      </p>
      <p>
      To use this tool you need to upload the PDF file to be analyzed and 
      input either the chapter page numbers or a phrase that occurs at the
      beginningi of each chapter.
      </p>
    </div>

    <div class="col-sm-4">
      <h3>How does it work?</h3>
      <p>First the PDF is converted into text and then seperated into
      seperate chapters. It can find the chapter borders through either
      a list of numbers for each chapter or a key phrase in the form of
      a 'Regular Expression' (WIP) that marks the start of a chapter
      e.g. "In this chapter..."</p>

      <p>Once the chapter borders are finalized it removes any stop words
      and utilizes TF-IDF to collect the most important words for each chapter.
      </p>
    </div>

    <div class="col-sm-4">
      <h3>Why am I getting bad results?</h3>        
      <p>PDF's might be nice to read but they can be a complete mess underneath
      the hood. Occasionally there are words within the document that control
      formatiing but don't appear on the page. If the PDF is just a scan of
      pages then it is impossible to process the text.
      </p>
      
      <p>The easiest way to check if your PDF can be processsed is to
      see if you can highlight text. If you can highlight text then
      the document can be processed. </p>
    </div>
  </div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">

	<form method="post" enctype="multipart/form-data">
     <label for="chapter_numbers">Write down chapter starting pages</label>
	  <input type="text" name="chapter_numbers" pattern="[0-9 ]+" value="17 36..." size="50">



      <label for="chapter_phrase">Or a phrase to seperate chapters</label>
      <input type="text" name="chapter_phrase" value="e.g. This chapter contains">
     <!--
      <label for="num_of_terms">And how many terms per chapter?</label>
      <input type="text" name="num_of_terms" pattern="[0-9]+" value="10">
	-->


	  <input type="file" name="file" accept=".pdf" required>
	  <input type="submit" value="upload">
	</form>

    </div>
    </div>

    <div class="row">
    <div class="col-sm-6 col-md-offset-3">
     <h3>Glossary:</h3>

 {% for chapter in chapters %}
	    <h4> Chapter: {{ loop.index }} </h4> 
        <p>
	    {% for word in chapter %}
		{{word}}
	    {% endfor %}
        </p>
	{% endfor %}
	
    </div>
  </div>
  </div>
</div>



</body>
</html>

